{% load filters %}
        {% if padrao_novo %}
                            <li class="pagamento lista-item" id="pagamento_{{ pagamento.id }}" data-id="{{ pagamento.id }}" data-nome="{{ pagamento.nome }}">
                                <div class="radio_button">
                                    <input class="forma_pagamento" type="radio" value="{{ pagamento.id }}" name="forma_pagamento" {% if forma_pagamento == pagamento.id|stringformat:"s" %}checked="checked"{% endif %} />
                                </div>
                                <div class="pagamento_imagem">
                                    <img src="{{ STATIC_URL }}novo-template/img/bandeiras/mercadopago.png" title="Pague com Mercado Pago" alt="Pague com Mercado Pago" />
                                </div>
                            </li>
        {% else %}
                          <div class="accordion-group {{ pagamento.codigo }}">
                            <label for="radio-{{ pagamento.codigo }}" class="accordion-heading" data-toggle="collapse" data-target="#escolha-{{ pagamento.codigo }}" data-parent="#formasPagamento" id="pagamento{{ pagamento.id }}">
                              <span class="radio-conteiner">
                                <input type="radio" name="forma_pagamento" id="radio-{{ pagamento.codigo }}" {% if forma_pagamento == pagamento.id|stringformat:"s" %}checked="checked"{% endif %} value="{{ pagamento.id }}">
                              </span>
                              <span class="forma-conteiner text-right">
                                <img src="{{ STATIC_URL }}novo-template/img/bandeiras/pagseguro.png" title="Pague com Mercado Pago" alt="Pague com Mercado Pago" />
                              </span>
                            </label>
                            <div id="escolha-{{ pagamento.codigo }}" class="collapse">
                              <div class="accordion-inner">
                                <ul class="bandeiras-pagamento">
                                    <li><i class="icone-pagamento visa" title="Visa"></i></li>
                                    <li><i class="icone-pagamento mastercard" title="Mastercard"></i></li>
                                    <li><i class="icone-pagamento hipercard" title="Hipercard"></i></li>
                                    <li><i class="icone-pagamento amex" title="Amex"></i></li>
                                    <li><i class="icone-pagamento elo" title="Elo"></i></li>
                                    <li><i class="icone-pagamento boleto" title="Boleto"></i></li>
                                    <li><i class="icone-pagamento itau" title="Itaú"></i></li>
                                    <li><i class="icone-pagamento bradesco" title="Bradesco"></i></li>
                                    <li><i class="icone-pagamento banco-do-brasil" title="Banco do Brasil"></i></li>
                                </ul>
                                <div class="text-right">
                                  <span>Valor</span>
                                  <h5 class="titulo cor-principal text-right pagamento-valor preco-carrinho-total">
                                    R$ {{ carrinho_subtotal|formatar_decimal_br }}
                                  </h5>
                                </div>
                              </div>
                            </div>
                          </div>
        {% endif %}